# Analisi dati dei contagi di COVID-19

https://github.com/pcm-dpc/COVID-19

In [7]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
import os.path

## Preparazione dati

https://pymotw.com/2/datetime/

In [8]:
root = "dpc-covid19-ita-regioni-"

github_fmt = "%Y%m%d"
es_fmt     = "%Y-%m-%d"

data_dir = "data/"
reg_dir  = "Regioni/"
raw_dir  = "raw/"

first_day = datetime.date(year=2020,month=2,day=24)# 24 febbraio 2020
today     = datetime.date.today()
today     = datetime.date(year=today.year,month=today.month,day=today.day)# today
one_day   = datetime.timedelta(days=1)

print("first day   :",first_day)
print("today       :",today)
print("passed days :",(today - first_day).days)

first day   : 2020-02-24
today       : 2020-11-01
passed days : 251

In [9]:
def tostr(date,fmt=github_fmt):
    return date.strftime(fmt)

In [10]:
def dropdata(df):
    df.drop(["data","stato","codice_regione","lat","long","note"],axis=1, inplace=True)
    return df

In [11]:
# impostazione per sovrascrivere i file
overwrite = False

#
directory = data_dir + reg_dir + raw_dir

#
N = (today - first_day).days
k=0
for i in range(N):
    date      = first_day + i*one_day 
    file_path = directory + tostr(date,es_fmt) + ".csv"
    if False == os.path.exists(file_path) and overwrite == False:
        k=k+1
        print("Downloading file (",i+1,"/",N,"): ",tostr(date,es_fmt),end="\r")
        url = 'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/'\
        +root+tostr(date,github_fmt)+".csv"
        df  = pd.read_csv(url)
        df = dropdata(df)
        df.to_csv(file_path,index=False)
print("\nDone (downloaded file: ",k,")")

Downloading file ( 251 / 251 ):  2020-10-31
Done (downloaded file:  251 )

In [ ]:
# https://stackoverflow.com/questions/1392413/calculating-a-directorys-size-using-python/1392549
def get_size(start_path = '.'):
    total_size = 0
    for dirpath, dirnames, filenames in os.walk(start_path):
        for f in filenames:
            fp = os.path.join(dirpath, f)
            # skip if it is symbolic link
            if not os.path.islink(fp):
                total_size += os.path.getsize(fp)

    return total_size

print("Folder size : ",get_size(directory)," bytes")

## Regioni

In [66]:
url = 'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni-latest.csv'
df  = pd.read_csv(url)

In [67]:
df.drop(["data","stato","codice_regione","lat","long"],axis=1, inplace=True)

In [ ]:
np.unique(df["data"])

In [ ]:
# totale_ospedalizzati 	 = ricoverati_con_sintomi + terapia_intensiva
# totale_positivi = isolamento_domiciliare +  totale_ospedalizzati

In [68]:
df

,denominazione_regione,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,note
0,Abruzzo,331,26,357,5087,5444,415,482,3690,540,7200,2474,9674,280591,174707,Dal totale dei positivi è stato eliminato un c...
1,Basilicata,74,7,81,1175,1256,72,86,684,47,670,1317,1987,100470,99620,NaN
2,Calabria,134,7,141,2573,2714,210,225,1798,113,1174,3451,4625,268987,266077,NaN
3,Campania,1297,164,1461,36243,37704,2818,3103,10537,644,46299,2586,48885,919318,622408,NaN
4,Emilia-Romagna,1054,123,1177,18536,19713,1483,1545,27724,4601,39481,12557,52038,1553171,835830,In seguito a verifica sui dati comunicati nei ...
5,Friuli Venezia Giulia,152,34,186,3922,4108,376,468,5115,387,8609,1001,9610,526798,225536,NaN
6,Lazio,1786,168,1954,27758,29712,1766,1995,11002,1173,14932,26955,41887,1386496,1132105,NaN
7,Liguria,907,50,957,6979,7936,458,1018,16863,1742,18879,7662,26541,431053,224168,NaN
8,Lombardia,3355,345,3700,64184,67884,6478,7339,92567,17414,143887,33978,177865,2850943,1780305,NaN
9,Marche,247,39,286,4850,5136,610,686,6950,1009,13015,80,13095,314006,183944,NaN
10,Molise,19,4,23,768,791,92,94,675,32,1448,50,1498,61905,58031,NaN
11,P.A. Bolzano,193,15,208,4009,4217,296,298,2962,306,7485,0,7485,227707,117659,NaN
12,P.A. Trento,109,9,118,1503,1621,-146,173,6470,435,4842,3684,8526,283240,112836,NaN
13,Piemonte,2381,146,2527,25364,27891,2104,2585,32807,4332,31834,33196,65030,997507,609925,NaN
14,Puglia,669,78,747,9255,10002,565,716,6361,706,4849,12220,17069,544675,386874,per 959 casi non e' disponibile la provenienza
15,Sardegna,322,39,361,5205,5566,218,282,3035,207,3345,5463,8808,260726,221404,NaN
16,Sicilia,839,115,954,11791,12745,557,789,6605,472,12621,7201,19822,669376,472930,NaN
17,Toscana,956,137,1093,22877,23970,1610,1966,13678,1310,31190,7768,38958,1056864,706557,NaN
18,Umbria,260,41,301,5270,5571,572,694,3277,119,2917,6050,8967,290964,169837,NaN
19,Valle d'Aosta,120,7,127,1457,1584,154,178,1235,162,2635,346,2981,40095,25235,NaN
20,Veneto,759,97,856,22770,23626,2026,2109,25247,2371,24522,26722,51244,2288598,890507,NaN